#body-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#content-container {
	display: flex;
	height: 50%;
}

.flex-photo {
    height: 50%;
}

.card-title1 {
	color: green;
}
                        